.titulo{
    text-align: center;
    background-color: rgb(237, 237, 241);
    font-size: 100px;
    
}
.sipnopsis{
    text-align: center;
    
}
.sipnopsis1{
    text-align: center;
    font-size: 30px;
}